<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree Tree</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{{ url_for('static', filename='degreetree.js') }}"></script>
    <script>
         $(function() {
         var cour = {{courses | safe}};
         $("#cinput").autocomplete({
                    source: cour
                    });
        });
    </script>

    <style>
        #coursestaken{
            width:20%;}
        #cantakecourse{
            width:20%;}
    </style>
</head>
<body>
    {% extends "parenttemplate.html" %}
    {% block content %}
    <h1>Lets build a Degree Tree</h1><br/>
    <form action="{{ url_for('buildDegreeTree')}}" method="POST" id="form">
           <div class="inputs">
                {{form.cinput}}
               <input type="button" id="addcourses" class="btn btn-dark" value="ADD">
               <input type="button" id="removecourses" class="btn btn-dark" value="REMOVE"><br/><br/>
            </div>
                {{form.coursestaken}}
                {{form.buildbutton}}<br/>
               <!-- {{form.cantakecourse}}-->
                {% for c in cantake.keys() %}
                <button class="cantake" type="button" title="{{cantake.get(c)}}" value="{{c}}">{{c}}</button>
                {% endfor %}
    </form>

    <br/>

    {% endblock %}

</body>
</html>