<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree Tree</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{{ url_for('static', filename='degreetree.js') }}"></script>
    <script>
         $(function() {
         var cour = {{courses | safe}};
         $("#cinput").autocomplete({
                    source: cour
                    });
        });
    </script>
     <script>
  $( function() {
    $( document ).tooltip({
        position: {
        my: "center bottom",
        at: "center top",
    }
    });
  });
  </script>

</head>
<body>
    {% extends "parenttemplate.html" %}
    {% block content %}
    <h1>Lets build a Degree Tree</h1>
    <div class="formdiv">
    <form action="{{ url_for('buildDegreeTree')}}" method="POST" id="form">
           <div class="inputs">
                {{form.cinput(class_="form-control", placeholder="Enter a course code")}}<br/>
               <p id="treeinputerror" class="text-danger"></p>
               <input type="button" id="addcourses" class="btn btn-dark" value="Add Course">
               <input type="button" id="removecourses" class="btn btn-dark" value="Remove Course">
               <input type="button" id="buildbutton" class="btn btn-dark" value="Start Building">
               <!--{{form.buildbutton(class_="btn btn-dark")}}<br/><br/>-->
            </div>
                {{form.coursestaken(class_ = "coursesTaken")}}<br/>

               <!-- {{form.cantakecourse}}-->
                {% if cantake is defined and cantake|length > 0 %}
                <div class="info-text"><p>Below are courses you can take:</p></div>
                {% for c in cantake.keys() %}
                <button class="btn btn-light" type="button" title="Course Description: {{cantake.get(c)}}" value="{{c}}">{{c}}</button>
                {% endfor %}
                {% endif %}

    </form>
    </div>
    <br/>

    {% endblock %}

</body>
</html>